<body style="background-color: #400354;">
<div class="card card-body p-5 mt-4" style="background-color: #fefefe;">
    <h1 class="display-4 text-center">PROYECTO REGISTRO DE ASISTENCIA</h1>
    <p class="lead text-center">Bienvenidos al proyecto asistencias</p>
    <hr class="my-4" />
    <div class="text-center">
        <a class="btn btn-primary btn-lg" href="/registro" role="button" style="background-color: #28a745; border-color: #28a745;">Registro</a>
    </div>
</div>
</body>